---
import Layout from '../layouts/Layout.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
import SkillContainer from '../components/skills/SkillContainer.astro'
---

<Layout title={`Skills - ${SITE_TITLE}`} description={SITE_DESCRIPTION}>
  <main class='page-container'>
    <h1 class='gradient-text page-title'>Skills</h1>

    <p>
      元々独学でiMovieやCanvaを用いて動画・画像を作成していたのでその歴の方が長いです。
      <br>2025年1月よりHTMLなど学び始めました。</br>
    </p>

    <SkillContainer />
  </main>
</Layout>

<style>
  p {
    font-size: 1rem;
    margin-bottom: 2.5rem;
  }
</style>
